<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacja Pogodowa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>

    <div id="ZegarekJS" class="zegarek" onload="pokazZegarek()"></div>
    <script src="/zegarek.js"></script>

    <div class="kontener">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="mb-4">Sprawdź pogodę dla swojego miasta</h1>
                <form id="formularzPogody">
                    <div class="form-group">
                        <h3 class="mb-4" for="miasto"><b>Wprowadź miasto:</b></h3>
                        <input type="text" class="form-control" id="miasto" name="miasto"
                            placeholder="Wprowadź miasto aby sprawdzić dla niego pogodę:" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Zatwierdź</button>
                    </div>
                </form>
                <div id="infoPogody" class="mt-4"></div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/pogoda.js"></script>

</body>

</html>