<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacja Pogodowa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="kontener">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="mb-4">Sprawdź pogodę dla swojego miasta</h1>
                <form id="formularzPogody">
                    <div class="form-group">
                        <h3 class="mb-4" for="miasto"><b>Wprowadź miasto:</b></h3>
                        <input type="text" class="form-control" id="miasto" name="miasto" placeholder="Wprowadź miasto aby sprawdzić dla niego pogodę:" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Zatwierdź</button>
                    </div>
                </form>
                <div id="infoPogody" class="mt-4"></div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#formularzPogody').submit(function (event) {
                event.preventDefault();
                var miasto = $('#miasto').val();
                $.ajax({
                    type: 'POST',
                    url: '/pogoda',
                    data: { 'miasto': miasto },
                    success: function (data) {
                        $('#infoPogody').html(formatujOdpowiedzPogody(data));
                    }
                });
            });

            function formatujOdpowiedzPogody(odpowiedz) {
                var danePogodowe = JSON.parse(odpowiedz);

                var sformatowanaOdpowiedz = "<div class='karta-pogody'>";

                sformatowanaOdpowiedz += "<h2><b>Pogoda w " + danePogodowe.name + ":</b></h2>";

                var opisPogody = {
                    "clear sky": "czyste niebo",
                    "few clouds": "małe zachmurzenie",
                    "scattered clouds": "rozproszone chmury",
                    "broken clouds": "rozproszone chmury",
                    "overcast clouds": "pochmurno",
                    "light rain": "lekki deszcz",
                    "moderate rain": "umiarkowany deszcz",
                    "heavy intensity rain": "intensywny deszcz",
                    "very heavy rain": "bardzo silny deszcz",
                    "extreme rain": "ekstremalny deszcz",
                    "freezing rain": "marznący deszcz",
                    "light intensity shower rain": "lekki deszcz",
                    "shower rain": "przelotne opady deszczu",
                    "heavy intensity shower rain": "intensywne przelotne opady deszczu",
                    "ragged shower rain": "burze deszczu",
                    "light snow": "lekki śnieg",
                    "snow": "śnieg",
                    "heavy snow": "ciężki śnieg",
                    "sleet": "śnieg z deszczem",
                    "shower sleet": "śnieg z deszczem",
                    "light rain and snow": "lekki deszcz ze śniegiem",
                    "rain and snow": "deszcz ze śniegiem",
                    "light shower snow": "lekki opad śniegu",
                    "shower snow": "opad śniegu",
                    "heavy shower snow": "ciężki opad śniegu",
                    "mist": "mgła",
                    "smoke": "dym",
                    "haze": "mgła",
                    "sand/ dust whirls": "wirujący piasek/kurz",
                    "fog": "mgła",
                    "sand": "piasek",
                    "dust": "kurz",
                    "volcanic ash": "pył wulkaniczny",
                    "squalls": "szkwał",
                    "tornado": "tornado",
                    "clear": "czyste niebo"
                };

                var opis = opisPogody[danePogodowe.weather[0].description.toLowerCase()] || danePogodowe.weather[0].description;

                sformatowanaOdpowiedz += "<p>Opis pogody: <b>" + opis + "</b></p>";

                sformatowanaOdpowiedz += "<p>Temperatura: <b>" + (danePogodowe.main.temp - 273.15).toFixed(2) + " °C</b></p>";

                sformatowanaOdpowiedz += "<p>Odczuwalna temperatura: <b>" + (danePogodowe.main.feels_like - 273.15).toFixed(2) + " °C</b></p>";

                sformatowanaOdpowiedz += "<p>Minimalna temperatura: <b>" + (danePogodowe.main.temp_min - 273.15).toFixed(2) + " °C</b></p>";

                sformatowanaOdpowiedz += "<p>Maksymalna temperatura: <b>" + (danePogodowe.main.temp_max - 273.15).toFixed(2) + " °C</b></p>";

                sformatowanaOdpowiedz += "<p>Ciśnienie: <b>" + danePogodowe.main.pressure + " hPa</b></p>";

                sformatowanaOdpowiedz += "<p>Wilgotność: <b>" + danePogodowe.main.humidity + "%</b></p>";

                sformatowanaOdpowiedz += "<p>Prędkość wiatru: <b>" + danePogodowe.wind.speed + " m/s</b></p>";

                sformatowanaOdpowiedz += "<p>Zachmurzenie: <b>" + danePogodowe.clouds.all + "%</b></p>";

                var czasWschoduSlonca = new Date(danePogodowe.sys.sunrise * 1000);

                var godzinaWschodu = czasWschoduSlonca.getHours();

                var minutaWschodu = czasWschoduSlonca.getMinutes();

                sformatowanaOdpowiedz += "<p>Wschód słońca: <b>" + godzinaWschodu + ":" + (minutaWschodu < 10 ? '0' : '') + minutaWschodu + "</b></p>";

                var czasZachoduSlonca = new Date(danePogodowe.sys.sunset * 1000);

                var godzinaZachodu = czasZachoduSlonca.getHours();

                var minutaZachodu = czasZachoduSlonca.getMinutes();

                sformatowanaOdpowiedz += "<p>Zachód słońca: <b>" + godzinaZachodu + ":" + (minutaZachodu < 10 ? '0' : '') + minutaZachodu + "</b></p>";

                sformatowanaOdpowiedz += "</div>";

                return sformatowanaOdpowiedz;
            }
        });

    </script>
</body>

</html>